.cs106q-title-text {
	left-margin: 30px;
}

img {
	width: auto;
  	height: auto;
}

html * {
	font-family: 'Roboto', sans-serif;
}

.bucket-card-content-containter {
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: black;
}