<script type="text/ng-template" id="messageShowBucketDetail.html">
	<md-dialog flex="50" aria-label="Bucket Detail">
		<md-card-content>
				<div flex layout="row" layout-sm="column" layout-align="start center">
					<div flex layout="row" layout-align="start center">
						<div flex="none" layout="row" layout-align="center center" class="cs106q-bucket-display-type-and-class"> 
							<p5 flex>{{bucket.type}}</p5>
						</div>

						<div flex="none" layout="row" layout-align="center center" class="cs106q-bucket-display-type-and-class"> 
							<p5 flex>{{bucket.class}}</p5>
						</div>
					</div>
				</div>
				
				<div flex layout="row" layout-sm="column" layout-align="start strech">
					<div flex layout="column" layout-align="start center"> 
						<h4 ng-if="bucket.students.length > 1">Students</h4>
						<h4 ng-if="bucket.students.length == 1">Student</h4>
						<div ng-repeat="name in bucket.students">
							<h6>{{name}}</h6>
						</div>
					</div>
					<div flex layout="column" layout-align="start center">
						<h4>Description</h4>
						<p>{{bucket.description}}</p>
					</div>
				</div>
			</md-card-content>
	</md-dialog>
</script>

<script type="text/ng-template" id="lookAtMapDialog.html">
	<md-dialog flex="30" aria-label="Bucket Detail">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h1>Position at: {{lookAtMapDialogControllerModel.position}}</h1>
			</div>
		</md-toolbar>
		<img flex class="side-bar-image" ng-src="images/LairMap.png">
	</md-dialog>
</script>

<script type="text/ng-template" id="addMessageOutOfNowhere.html">
	<md-dialog flex="50" aria-label="Add Message">
		<form ng-cloak>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>Add Message</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="addMessagesDialogModel.cancel()">
						<i class="material-icons">close</i>
					</md-button>
				</div>
			</md-toolbar>
			<md-dialog-content class="solve-add-message-dialog-content">
					<md-input-container flex layout="column" layout-align="center stretch">
						<label>Message</label>
						<textarea placeholder="Please enter your message here." ng-required="false" 
							class="solve-add-message-dialog-textarea"
							ng-model="addMessagesDialogModel.message" rows="1" md-select-on-focus></textarea>
					</md-input-container>
					<div flex layout="row">
						<md-button flex="grow" ng-click="addMessagesDialogModel.sendMessage()" class="md-whiteframe-z1">Post</md-button>
					</div>
			</md-dialog-content>
		</form>
	</md-dialog>
</script>

<md-content ng-cloak flex layout="column" layout-align="center stretch">
	<md-tabs flex md-dynamic-height md-border-bottom md-stretch-tabs="always">
		<md-tab ng-disabled="main.curSL !== undefined" layout="column" layout-align="center center" label="Students">
			<md-content flex class="cs106q-side-bar" layout="column" layout-align="center center" ng-if="main.curSL === undefined">
				<h4 flex class="cs106q-side-bar-title">Register</h4>
				<form layout="column" layout-align="center stretch" name="form.studentRegister" id="student-register" angular-validator ng-submit="newBucket.doRegister()">
					<div layout-gt-sm="row">
						<md-input-container class="md-block cs106q-side-bar-input-container" flex-gt-sm>
							<label>Class</label>
							<md-select required ng-model="newBucket.class">
								<md-option ng-repeat="class in classes" value="{{class}}">
									{{class}}
								</md-option>
							</md-select>
						</md-input-container>

						<md-input-container class="md-block cs106q-side-bar-input-container" flex-gt-sm>
							<label>Question Type</label>
							<md-select required ng-model="newBucket.type">
								<md-option ng-repeat="type in types" value="{{type}}">
									{{type}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>

					<md-input-container ng-required="true" flex-gt-xs class="md-block cs106q-side-bar-input-container" layout="column" layout-align="center center" ng-if="newBucket.type === 'Conceptual'">
						<label>Pick an existing problem</label>
						<md-select ng-required="true" data-md-container-class="selectdemoSelectHeader md-content" ng-model="newBucket.existingPick" md-on-open="clearSearchTerm()" md-on-close="clearSearchTerm()">
							<md-option ng-value="null" layout="center">
								New Topic
							</md-option>
							<md-option ng-value="bucket" layout="center" ng-repeat="bucket in main.buckets.waiting | filter : filterConceptualBuckets | filter : searchTerm">
								{{bucket.description}}
							</md-option>
						</md-select>
					</md-input-container>

					<md-input-container class="md-block cs106q-side-bar-input-container" flex-gt-xs>
						<label>SUID</label>
						<input ng-model="newBucket.suid" ng-required="true">
					</md-input-container>
					<div layout-gt-sm="row">
						<md-input-container class="md-block cs106q-side-bar-input-container" flex-gt-sm>
							<label>First name</label>
							<input ng-model="newBucket.firstName" ng-required="true">
						</md-input-container>

						<md-input-container class="md-block cs106q-side-bar-input-container" flex-gt-sm>
							<label>Last Name</label>
							<input ng-model="newBucket.lastName" ng-required="true">
						</md-input-container>
					</div>
					<md-input-container class="md-block cs106q-side-bar-input-container" ng-if="newBucket.existingPick === null || newBucket.type === 'Debugging'" flex-gt-xs>
						<label>Position</label>
						<input ng-model="newBucket.position" ng-required="true">
					</md-input-container>
					<md-input-container class="md-block cs106q-side-bar-input-container" ng-if="newBucket.existingPick === null || newBucket.type === 'Debugging'" ng-required="true">
						<label>Problem Description</label>
						<textarea ng-required="true" ng-model="newBucket.description" rows="1" md-select-on-focus></textarea>
					</md-input-container>
					<md-button flex="grow" type="submit" class="md-whiteframe-z1">Put me into the queue</md-button>
				</form>
			</md-content>
		</md-tab>
		<md-tab label="Section Leaders">
			<md-content flex class="cs106q-side-bar" layout="column" layout-align="center stretch" ng-if="main.curSL !== undefined">
				<div flex layout="column" layout-align="center center">
					<h4 flex class="cs106q-side-bar-title">Hello, {{main.curSL.name}}</h4>
				</div>
			</md-content>

			<md-content flex class="cs106q-side-bar" layout="column" layout-align="center stretch" ng-if="main.curSL === undefined">
				<div flex layout="column" layout-align="center center">
					<h4 flex class="cs106q-side-bar-title">SL Login</h4>
				</div>
				<form layout="column" layout-align="center stretch" name="form.slLogin" id="sl-login" angular-validator ng-submit="slLogin.login()">
					<md-input-container class="md-block cs106q-side-bar-input-container" flex-gt-xs>
						<label>SUID</label>
						<input ng-model="slLogin.suid" ng-required="true">
					</md-input-container>
					<md-button flex md-whiteframe="1" type="submit">Login</md-button>
				</form>
			</md-content>

			<md-content ng-if="main.curSL !== undefined && main.queueInfo !== undefined">
				<md-subheader class="md-no-sticky">Queue Info:</md-subheader>
				<md-card>
					<md-card-content>
						<md-card-title-text>
							<p class="side-bar-queue-info">Students Waiting: {{main.queueInfo.waitingBucketCount}}</p>
							<p class="side-bar-queue-info">Estimate Waiting Time: {{main.queueInfo.waitingTime}} min</p>
						</md-card-title-text>
					</md-card-content>
				</md-card>
			</md-content>

			<md-content class="animate-bucket-repeat" ng-if="main.curSL !== undefined && main.curSL.currently_helping !== undefined">
				<md-subheader class="md-no-sticky">You are helping:</md-subheader>

				<md-card>
					<md-card-content>
						<md-card-title-text>
							<p class="md-headline">{{main.curSL.currently_helping.students[0]}}</p>
							<p class="md-subhead">{{main.curSL.currently_helping.class}}, {{main.curSL.currently_helping.type}}, 
								<ng-click ng-click="slCurHelpingControl.lookAtMap(main.curSL.currently_helping.position)" 
								class="side-bar-message-box-small-button"> Position: {{main.curSL.currently_helping.position}}</ng-click></p>
							<p>{{main.curSL.currently_helping.description}}</p>
						</md-card-title-text>
					</md-card-content>
					<md-card-actions layout="row" layout-align="end center">
						<md-button ng-click="main.putBackBucket(main.curSL.currently_helping._id)">Put Back</md-button>
						<md-button ng-click="main.showAddMessagesDialog()">Solved</md-button>
					</md-card-actions>
				</md-card>
			</md-content>

			<md-content ng-if="main.curSL !== undefined">
				<md-list flex>
					<md-subheader class="md-no-sticky">Current On Duty:</md-subheader>
					<md-list-item class="md-3-line" ng-repeat="sl in slData.curSLs" ng-click="null">
						<div class="md-list-item-text" layout="column">
							<h3>{{sl.name}}</h3>
							<h4 ng-if="sl.currently_helping !== undefined">Busy</h4>
							<h4 ng-if="sl.currently_helping === undefined">Not Busy</h4>
						</div>
					</md-list-item>
					<md-divider ></md-divider>
				</md-list>
			</md-content>

			<md-content ng-if="main.curSL !== undefined && main.slMessages !== undefined">
				<md-list flex>
					<md-subheader class="md-no-sticky">
						<md-subheader-content layout="row" layout-align="space-between center">
							<span>Messages:</span>
							<span flex></span></span>
							<md-menu>
								<md-button aria-label="Open message controller" class="md-icon-button" ng-click="$mdMenu.open()">
									<i class="material-icons">reorder</i>
								</md-button>
								<md-menu-content width="4">
									<md-menu-item>
										<md-button ng-click="messageControl.addMessageOutOfNowhere()">
											Add New Message
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button  ng-click="messageControl.dismissAllMessages(message._id)" >
											Dismiss All
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						<md-subheader-content>
					</md-subheader>
					<md-divider ></md-divider>
					<div class="side-bar-message-box" ng-repeat="message in main.slMessages">
						<div class="md-list-item-text" layout="column" layout-align="center stretch">
							<div layout="row" layout-align="center center"> 
								<h6 >Posted by: {{message.slPoster.name}}</h6>
								<span flex></span>
								<h6 ng-if="message.associatedBucket" ng-click="messageControl.showBucket(message.associatedBucket)" class="side-bar-message-box-small-button">See Question</h6>
								<h6 ng-click="messageControl.dismissMessage(message._id)" class="side-bar-message-box-small-button">Dismiss</h6>
							</div>
							<p class="side-bar-message-body">{{message.content}}</p>
						</div>
					</div>
					<md-divider ></md-divider>
				</md-list>
			</md-content>

			<md-content flex class="cs106q-side-bar" layout="column" layout-align="center stretch" ng-if="main.curSL !== undefined">
				<md-button flex ng-click="slLogin.logout()" class="md-whiteframe-z1">Logout</md-button>
			</md-content>
		</md-tab>
	</md-tabs>
</md-content>
