.cs106q-side-bar {
	width: 100%;
}

.cs106q-side-bar-title {
	margin-top: 15px;
	margin-bottom: 15px;
}

.side-bar-message-box {
	padding-left: 20px;
	padding-right: 20px;
}

.side-bar-message-body {
	text-align: justify;
	line-height: 1.2em;
	font-family: "Times New Roman", Times, serif;
}

.side-bar-message-box-small-button {
	margin-left: 3px;
	margin-right: 3px;
}

.side-bar-message-box-small-button:hover {
	text-decoration: underline;
	color: blue;
}