<md-content flex layout="column" layout-align="center stretch">
	<md-tabs flex md-border-bottom md-stretch-tabs="always">
		<md-tab layout="column" layout-align="center" label="Students" ng-disabled="main.curSL !== undefined">
			<div flex layout="column" layout-align="center center" ><h4 class="cs106q-side-bar-title">Register</h4></div>
			<form flex layout="column" layout-align="center stretch" name="form.studentRegister" id="student-register" angular-validator ng-submit="newBucket.doRegister()">
				<md-input-container class="md-block cs106q-side-bar-input-container">
					<label>Class</label>
					<md-select required ng-model="newBucket.class">
						<md-option ng-repeat="class in classes" value="{{class}}">
							{{class}}
						</md-option>
					</md-select>
				</md-input-container>

				<md-input-container class="md-block cs106q-side-bar-input-container">
					<label>Question Type</label>
					<md-select required ng-model="newBucket.type">
						<md-option ng-repeat="type in types" value="{{type}}">
							{{type}}
						</md-option>
					</md-select>
				</md-input-container>

				<md-input-container ng-required="true" class="md-block cs106q-side-bar-input-container" layout="column" layout-align="center center" ng-if="newBucket.type === 'Conceptual'">
					<label>Pick an existing problem</label>
					<md-select ng-required="true" data-md-container-class="selectdemoSelectHeader md-content" ng-model="newBucket.existingPick" md-on-open="clearSearchTerm()" md-on-close="clearSearchTerm()">
						<md-option ng-value="null" layout="center">
							New Topic
						</md-option>
						<md-option ng-value="bucket" layout="center" ng-repeat="bucket in main.buckets.waiting | filter : filterConceptualBuckets | filter : searchTerm">
							{{bucket.description}}
						</md-option>
					</md-select>
				</md-input-container>

				<md-input-container class="md-block cs106q-side-bar-input-container">
					<label>SUID</label>
					<input ng-model="newBucket.suid" ng-required="true">
				</md-input-container>
				<md-input-container class="md-block cs106q-side-bar-input-container">
					<label>First name</label>
					<input ng-model="newBucket.firstName" ng-required="true">
				</md-input-container>

				<md-input-container class="md-block cs106q-side-bar-input-container">
					<label>Last Name</label>
					<input ng-model="newBucket.lastName" ng-required="true">
				</md-input-container>
				<md-input-container class="md-block cs106q-side-bar-input-container" ng-if="newBucket.existingPick === null || newBucket.type === 'Debugging'">
					<label>Position</label>
					<input ng-model="newBucket.position" ng-required="true">
				</md-input-container>
				<md-input-container class="md-block cs106q-side-bar-input-container" ng-if="newBucket.existingPick === null || newBucket.type === 'Debugging'" ng-required="true">
					<label>Problem Description</label>
					<textarea ng-required="true" ng-model="newBucket.description" rows="1" md-select-on-focus></textarea>
				</md-input-container>
				<md-button flex="grow" type="submit">Put me into the queue</md-button>
			</form>
		</md-tab>
		<md-tab label="Section Leaders">
			<md-content flex class="cs106q-side-bar" layout="column" layout-align="center stretch" ng-if="main.curSL !== undefined">
				<div flex layout="column" layout-align="center center">
					<h4 flex class="cs106q-side-bar-title">Hello, {{main.curSL.name}}</h4>
				</div>
			</md-content>

			<md-content flex class="cs106q-side-bar" layout="column" layout-align="center stretch" ng-if="main.curSL === undefined">
				<div flex layout="column" layout-align="center center">
					<h4 flex class="cs106q-side-bar-title">SL Login</h4>
				</div>
				<form layout="column" layout-align="center stretch" name="form.slLogin" id="sl-login" angular-validator ng-submit="slLogin.login()">
					<md-input-container class="md-block cs106q-side-bar-input-container">
						<label>SUID</label>
						<input ng-model="slLogin.suid" ng-required="true">
					</md-input-container>
					<md-button flex md-whiteframe="1" type="submit">Login</md-button>
				</form>
			</md-content>

			<md-content ng-if="main.curSL !== undefined && main.queueInfo !== undefined">
				<md-subheader class="md-no-sticky">Queue Info:</md-subheader>
				<md-card>
					<md-card-content>
						<md-card-title-text>
							<p class="side-bar-queue-info">Students Waiting: {{main.queueInfo.waitingBucketCount}}</p>
							<p class="side-bar-queue-info">Estimate Waiting Time: {{main.queueInfo.waitingTime}} min</p>
						</md-card-title-text>
					</md-card-content>
				</md-card>
			</md-content>

			<md-content class="animate-bucket-repeat" ng-if="main.curSL !== undefined && main.curSL.currently_helping !== undefined">
				<md-subheader class="md-no-sticky">You are helping:</md-subheader>

				<md-card>
					<md-card-content>
						<md-card-title-text>
							<p class="md-headline">{{main.curSL.currently_helping.students[0]}}</p>
							<p class="md-subhead">{{main.curSL.currently_helping.class}}, {{main.curSL.currently_helping.type}}, 
								<ng-click ng-click="slCurHelpingControl.lookAtMap(main.curSL.currently_helping.position)" 
								class="side-bar-message-box-small-button"> Position: {{main.curSL.currently_helping.position}}</ng-click></p>
							<p>{{main.curSL.currently_helping.description}}</p>
						</md-card-title-text>
					</md-card-content>
					<md-card-actions layout="row" layout-align="end center">
						<md-button ng-click="main.putBackBucket(main.curSL.currently_helping._id)">Put Back</md-button>
						<md-button ng-click="main.showAddMessagesDialog()">Solved</md-button>
					</md-card-actions>
				</md-card>
			</md-content>

			<md-content ng-if="main.curSL !== undefined">
				<md-list flex>
					<md-subheader class="md-no-sticky">Current On Duty:</md-subheader>
					<md-list-item class="md-3-line" ng-repeat="sl in slData.curSLs" ng-click="null">
						<div class="md-list-item-text" layout="column">
							<h3>{{sl.name}}</h3>
							<h4 ng-if="sl.currently_helping !== undefined">Busy</h4>
							<h4 ng-if="sl.currently_helping === undefined">Not Busy</h4>
						</div>
					</md-list-item>
					<md-divider ></md-divider>
				</md-list>
			</md-content>

			<md-content ng-if="main.curSL !== undefined">
				<md-subheader class="md-no-sticky">Search History:</md-subheader>
				<form name="smallSearchBar" ng-submit="search.submitSearch()" flex layout="row" layout-align="space-between center"
					class="side-bar-search-container">
					<md-input-container flex md-no-float>
		                <input ng-model="search.keyword" placeholder="Enter search">
		            </md-input-container>
	            </form>
			</md-content>

			<md-content ng-if="main.curSL !== undefined && main.slMessages !== undefined">
				<md-list flex>
					<md-subheader class="md-no-sticky">
						<md-subheader-content layout="row" layout-align="space-between center">
							<span>Messages:</span>
							<span flex></span></span>
							<md-menu>
								<md-button aria-label="Open message controller" class="md-icon-button" ng-click="$mdMenu.open()">
									<i class="material-icons">reorder</i>
								</md-button>
								<md-menu-content width="4">
									<md-menu-item>
										<md-button ng-click="messageControl.addMessageOutOfNowhere()">
											Add New Message
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button  ng-click="messageControl.dismissAllMessages(message._id)" >
											Dismiss All
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						<md-subheader-content>
					</md-subheader>
					<md-divider ></md-divider>
					<div class="side-bar-message-box" ng-repeat="message in main.slMessages">
						<div class="md-list-item-text" layout="column" layout-align="center stretch">
							<div layout="row" layout-align="center center"> 
								<h6 >Posted by: {{message.slPoster.name}}</h6>
								<span flex></span>
								<h6 ng-if="message.associatedBucket" ng-click="messageControl.showBucket(message.associatedBucket)" class="side-bar-message-box-small-button">See Question</h6>
								<h6 ng-click="messageControl.dismissMessage(message._id)" class="side-bar-message-box-small-button">Dismiss</h6>
							</div>
							<p class="side-bar-message-body">{{message.content}}</p>
						</div>
					</div>
					<md-divider ></md-divider>
				</md-list>
			</md-content>

			<md-content flex class="cs106q-side-bar" layout="column" layout-align="center stretch" ng-if="main.curSL !== undefined">
				<md-button flex ng-click="slLogin.logout()" class="md-whiteframe-z1">Logout</md-button>
			</md-content>
		</md-tab>
	</md-tabs>
</md-content>
