.cs106q-side-bar {
	width: 100%;
}

.cs106q-side-bar-title {
	margin-top: 25px;
	margin-bottom: 15px;
}

.side-bar-message-box {
	padding-left: 20px;
	padding-right: 20px;
}

.side-bar-message-body {
	text-align: justify;
	word-wrap: break-word;
	line-height: 1.2em;
	font-family: "Times New Roman", Times, serif;
}

.side-bar-message-box-small-button {
	margin-left: 3px;
	margin-right: 3px;
}

.side-bar-message-box-small-button:hover {
	text-decoration: underline;
	color: blue;
}

.side-bar-image {
	max-width: 100%;
	height: auto;
	padding: 20px;
}

.side-bar-queue-info {
	margin: 3px;
}

.md-errors-spacer { display: none; }

.side-bar-search-container {
	padding-right: 20px;
	padding-left: 20px;
}

.search-result-dialog-container {
	padding: 30px;
}

.search-result-dialog-message-small-button {
	margin-left: 10px;
}

.search-result-dialog-message-content {
	margin-left: 10px;
}

.search-result-dialog-message-containter {
	margin-left: 10px;
	margin-right: 10px;
}