.cs106q-bucket-display-type-and-class {
	border: .2em solid;
	font-size: 1em;
	line-height: 1.1em;
	border-radius: 5px;
	border-width: 1px;
	height: 1.9em;
	width: auto;
	margin: 5px 10px 5px 10px;
	padding: 0px 8px 0px 8px;
}

.animate-bucket-repeat {
	line-height:auto;
	list-style:none;
	box-sizing:border-box;
}

.animate-bucket-repeat.ng-move,
.animate-bucket-repeat.ng-enter,
.animate-bucket-repeat.ng-leave {
	-webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
}

.animate-bucket-repeat.ng-leave.ng-leave-active,
.animate-bucket-repeat.ng-move,
.animate-bucket-repeat.ng-enter {
	opacity:0;
	max-height:0;
}

.animate-bucket-repeat.ng-leave,
.animate-bucket-repeat.ng-move.ng-move-active,
.animate-bucket-repeat.ng-enter.ng-enter-active {
	opacity:0.1;
	max-height:300px;
}

.solve-add-message-dialog-content {
	margin-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.main-page-main-card-text {
	margin-left: 12px;
	margin-right: 10px;
}

.main-page-small-buttons-container {
	padding-top: 5px;
	padding-bottom: 8px;
}

.bucket-description-block {
	word-wrap: break-word;
	margin-right: 10px;
}