<md-content flex layout="column" layout-align="center stretch">
	<md-tabs flex md-border-bottom md-stretch-tabs="always">
		<md-tab flex layout="column" layout-align="center center" label="Waiting">
			<md-card class="animate-bucket-repeat" layout="column" layout-align="center strech" ng-repeat="bucket in main.buckets.waiting">
				<div ng-include="'components/main-page/main-page-bucket-list.html'"></div>
			</md-card>
		</md-tab>

		<md-tab flex ng-if="main.curSL !== undefined" layout="column" layout-align="center center" label="Helping">
			<md-card class="animate-bucket-repeat" ng-repeat="bucket in main.buckets.helping">
				<div ng-include="'components/main-page/main-page-bucket-list.html'"></div>
			</md-card>
		</md-tab>

		<md-tab flex ng-if="main.curSL !== undefined" layout="column" layout-align="center center" label="Solved">
			<md-card class="animate-bucket-repeat" ng-repeat="bucket in main.buckets.solved">
				<div ng-include="'components/main-page/main-page-bucket-list.html'"></div>
			</md-card>
		</md-tab>
	</md-tabs>
</md-content>


