<script type="text/ng-template" id="bucketList.html">
	<md-card-content>
		<div flex layout="row" layout-sm="column" layout-align="start center">
			<div flex layout="row" layout-align="start center">
				<div flex="none" layout="row" layout-align="center center" class="cs106q-bucket-display-type-and-class"> 
					<p5 flex>{{bucket.type}}</p5>
				</div>

				<div flex="none" layout="row" layout-align="center center" class="cs106q-bucket-display-type-and-class"> 
					<p5 flex>{{bucket.class}}</p5>
				</div>
			</div>

			<div flex layout="row" layout-align="end center" ng-if="main.curSL">
				<md-button class="main-page-button" ng-click="mainPageModel.pickBucket(bucket._id)" 
					ng-if="!bucket.solved && main.curSL.suid !== undefined && bucket.helperSL === undefined && main.curSL.currently_helping === undefined">
					Pick</md-button>
				<div flex="none" layout="row" layout-align="center center"
					ng-if="!bucket.solved && bucket.helperSL !== undefined"> 
					<p5 flex>{{bucket.helperSL.name}} is helping.</p5>
				</div>
				<div flex="none" layout="row" layout-align="center center"
					ng-if="bucket.solved"> 
					<p5 flex>Solved.</p5>
				</div>
			</div>
		</div>
		
		<div flex layout="row" layout-sm="column" layout-align="start strech">
			<div flex layout="column" layout-align="start center"> 
				<h4 ng-if="bucket.students.length > 1">Students</h4>
				<h4 ng-if="bucket.students.length == 1">Student</h4>
				<div ng-repeat="name in bucket.students">
					<h6>{{name}}</h6>
				</div>
			</div>
			<div flex layout="column" layout-align="start center">
				<h4>Description</h4>
				<p>{{bucket.description}}</p>
			</div>
		</div>
	</md-card-content>
</script>

<script type="text/ng-template" id="addMessageWhenSolve.html">

	<md-dialog flex="50" aria-label="Anything to say?">
		<form ng-cloak>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>Anything to say?</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="addMessagesDialogModel.cancel()">
						<i class="material-icons">close</i>
					</md-button>
				</div>
			</md-toolbar>
			<md-dialog-content class="solve-add-message-dialog-content">
					<md-input-container flex layout="column" layout-align="center stretch">
						<label>Message</label>
						<textarea placeholder="It's OK to leave me blank :)" ng-required="false" 
							class="solve-add-message-dialog-textarea"
							ng-model="addMessagesDialogModel.message" rows="1" md-select-on-focus></textarea>
					</md-input-container>
					<div flex layout="row">
						<md-button flex="grow" ng-click="addMessagesDialogModel.sendMessage()" class="md-whiteframe-z1">Solve</md-button>
					</div>
			</md-dialog-content>
		</form>
	</md-dialog>
</script>

<div layout="column" layout-align="center strech">

	<md-tabs flex md-dynamic-height md-border-bottom md-stretch-tabs="always">
		<md-tab layout="column" layout-align="center center" label="Waiting">
			<md-card class="animate-bucket-repeat" layout="column" layout-align="center strech" ng-repeat="bucket in main.buckets.waiting">
				<div ng-include="'bucketList.html'"></div>
			</md-card>
		</md-tab>

		<md-tab ng-if="main.curSL !== undefined" layout="column" layout-align="center center" label="Helping">
			<md-card class="animate-bucket-repeat" ng-repeat="bucket in main.buckets.helping">
				<div ng-include="'bucketList.html'"></div>
			</md-card>
		</md-tab>

		<md-tab ng-if="main.curSL !== undefined" layout="column" layout-align="center center" label="Solved">
			<md-card class="animate-bucket-repeat" ng-repeat="bucket in main.buckets.solved">
				<div ng-include="'bucketList.html'"></div>
			</md-card>
		</md-tab>
	</md-tabs>

</div>


